#CowboyBEBOPImg{
width: 500px;
display: block;
margin: 0px auto 0px auto;
}
.animeheadings{
text-align: center;
}
.animetext{
width: 700px;
margin: 0px auto 0px auto;
}
.animesubheading{
text-align: center;
}
#TokyoGhoulImg{
width: 500px;
display: block;
margin: 0px auto 0px auto;
}
