html{
background-color: lightgray;
}
.navbar{
	position: relative;
	text-align: center;
}
.
#navbarsection{
	position: absolute;
	text-align: left;
	left: 100px;	
	float: right;
}
.title{
text-align: center;
}
.imagecitation{
text-align: center;
font-size: 12px;
}
